.section-about {
  background-color: $color-gray-light-1;
  padding: 20rem 0;
  margin-top: -20vh;
}

.section-features {
  height: 95vh;
  margin-top: -24vh;
  position: relative;
  padding: 13rem 0;
  background-image:
    linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../../img/nat-2-large.jpg");

  background-size: cover;
  background-position: center;

  clip-path: polygon(0 19%, 100% 0%, 100% 78%, 0 100%);
}

.section-tours {
  height: 95vh;
  background-color: $color-gray-light-1;
  margin-top: -30vh;
  padding: 13rem 0;
}
