.card {
  perspective: 150rem;
  position: relative;
  height: 25rem;

  &__side {
    height: 25rem;
    width: 100%;
    border-radius: 5px;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden; // hide the back part
    color: $color-white;
    box-shadow: 0 1rem 8rem rgba($color-black, 0.3);

    &--front {
      background-color: $color-white;
      color: $color-black;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right,
          $color-secondary-1,
          $color-secondary-2
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right,
          $color-tertiary-1,
          $color-tertiary-2
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }
}
