.feature-box {
  background-color: rgba($color-white, 0.8);
  text-align: center;
  border-radius: 5px;
  transition: all 0.2s;
  padding: 2rem 1.8rem;
  box-shadow: 0 1rem 20rem rgba($color-black, 0.8);

  &__icons {
    font-size: 3rem;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );

    -webkit-background-clip: text;
    color: transparent;
  }

  &:hover {
    transform: translateY(-0.5rem);
  }
}
