$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-gray-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$default-font: "Lato", sans-serif;

$color-secondary-1: #ffb900;
$color-secondary-2: #ff7730;

$color-tertiary-1: #2998ff;
$color-tertiary-2: #5643fa;

// grids

$grid-width: 71.5rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 4rem;

// FONTS SIZES

$default-font-size: 1rem;
