/* ================= BODY ================= */
body {
  font-family: $default-font;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 1rem; /* 16px */
  line-height: 1.7;
  color: $color-grey-dark;
}

.header {
  /* ================= HEADER TEXT ================= */
  &__text-box {
    position: absolute;
    color: $color-white;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__title {
    font-size: 3.375rem; /* 54px */
    letter-spacing: 1.25rem; /* 20px */
    animation: moveInLeft 2s ease-in-out;
  }

  &__subtitle {
    font-size: 1.5rem; /* 24px */
    letter-spacing: 0.5rem; /* 8px */
    margin-bottom: 2.25rem; /* 36px */
    animation: moveInRight 2s ease-in-out;
  }

  &__btn-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;

  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );

  // ye text me gradient apply karne ke liye hai
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;

  &:hover {
    transform: skewY(5deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  color: $color-grey-dark;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 800;
}

.paragraph {
  color: $color-grey-dark;
  font-size: 1rem;
  margin-top: 1rem;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
